/*Overall*/

html {
  /*code in this element adapted from css-tricks.com/perfect-full-page-background-image*/
  background: url(../images/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  color: #609;
  font-family: arial, verdana, sans-serif;
}

#container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

a, a:visited {
  color: #609;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #306;
  text-decoration: underline;
}

/*Parts*/

.blob {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}

#header {
  padding-top: 20px;
}

#logo {
  padding: 20px;
  float: left;
}

#nav {
  float: right;
  padding: 5px;
}

#content {
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}

#content h1 {
  font-size: 200%;
}

#content ul {
  text-align: left;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
