<h1>About</h1>
<p>Who is Kelly Hope?  She is: </p>
<ul>
  <li>a sophmore in computer science at <%= link_to 'Carnegie Mellon University', 'http://www.cmu.edu' %>.</li>
  <li>a lover of programing and computers in general.</li>
  <li>obsessed with purple and possibly purple flavored.</li>
  <li>the Assistant Systems Manager for <%= link_to 'The Tartan', 'http://www.thetartan.org' %>, CMU's student newspaper.</li>
  <li>booth chair for the <%= link_to 'CMU KGB', 'http://www.cmukgb.org' %>.</li>
  <li>the person who coded this site using Ruby on Rails.</li>
  <li>a swimmer and a former lifeguard.</li>
  <li>an expert on ice cream from her three years as a server at an ice cream shop.</li>
</ul>
<p>For more information, <%= mail_to 'kelly@kellyhope.net', 'email me' %>.</p>
