<style type="text/css">
  #logo {
    display:none;
  }
</style>

<h1>Kelly Hope</h1>
<p><a href="http://www.twitter.com/purpleflavored">Follow Me on Twitter</a> | <a href="http://www.facebook.com/kellyhope">Friend Me on Facebook</a></p>
