<h1>Projects</h1>
<p>Websites I work on:</p>
<ul>
<li><a href="www.oursaviorhaddonfield.org">oursaviorhaddonfield.org</a> - I originally designed the website and continue to do upkeep on it.</li>
<li><a href="www.thetartan.org">TheTartan.org</a> - I assist in redesigning and fixing elements on the site, mostly in the backend intranet for Tartan staff members.
</ul>
<p>Other Projects:</p>
<p>Right now I'm focused on school work.  I hope to move on to more projects in the future</p>
